
body {
	height: auto;
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
	background: url(../../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#left_part {
	position: fixed;
	height: 100%;
	width: 20%;
}


#right_part {
	float: right;
	height: 100%;
	width: 80%;
}